{% extends "base.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
<section class="vh-100" style="background-color: #F5EEDC">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row">
            <div class="col-md-6 col-lg-5 d-none d-md-block" style="background: url('/static/images/loginDoge.png'); 
                       background-size: cover; 
                       border-radius: 1rem 0 0 1rem;">
            </div>
            {% include 'flash.html' %}
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                {% include 'auth/components/sign-in-form.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{{ url_for('static', filename='js/passwordShowToggle.js') }}"></script>
{% endblock %}