.badge-message {
    background-color: #707070;
}

.message-background {
    background-color: #f2ebd9;
}

.message-background:hover {
    background-color: #e8dcbc;
  }

.card-body {
    background-color: #f7f3e8;
}

.toOrFrom {
    font-weight: 700;
    text-decoration: underline;
}