#session {
    background-color: #AFE1AF; 
    display: inline-block; 
    border: 2px solid grey;
    border-radius: 1em; 
    text-align: center; 
    font-family: monospace; 
    width: 19em;
    height: 1.9em;
}

#group {
    float: right; 
    margin-top: 1em;
}

#submitButton {
    margin-left: 0.5em; 
    float: right;
    border-radius: 15%;
}